@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  --body: #272b3f;
  --nav-color: #3b5d8f;
  --nav-text: #fff;
  --logo-text: #fff;
  --logo-span: #fca69e;
  --auth-primary: #6688cc;
  --auth-primarytext: #fff;
  --auth-secondary: #ff6f61;
  --auth-secondarytext: #fff;
  --primary: #ce4e42;
  --neutral: #272b3f;
  --neutral-hover: #495177;
  --primary-hover: #fca69e;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}

.no-transition {
  transition: none !important;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: width 250ms ease;
}

.sidebar.expanded {
  width: 250px;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.sidebar-logo img {
  height: 40px;
  width: 40px;
  transition: transform 0.3s ease;
}

.sidebar-logo .logo-text {
  display: none;
  font-size: 1.2rem;
  color: var(--logo-text);
  margin-left: 10px;
}

.sidebar.expanded .sidebar-logo .logo-text {
  display: inline;
}

#toggleButton {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-btn {
  width: 50px;
  height: 50px;
  background-color: var(--auth-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.toggle-btn span {
  display: none;
}

.sidebar.expanded .toggle-btn span {
  display: inline;
}

.sidebar-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-content ul li {
  margin-bottom: 10px;
}

.sidebar-content ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 10px;
  text-decoration: none;
  color: var(--neutral-hover);
  background-color: var(--body);
  border-radius: 10px;
  overflow: hidden;
  transition: width 0.2s ease;
  white-space: nowrap;
}

.sidebar-content ul li a i {
  margin-right: 0;
}

.sidebar-content ul li a span {
  display: none;
}
.sidebar.expanded .sidebar-content ul li a {
  justify-content: flex-start;
  width: 200px;
  padding-left: 20px;
  white-space: nowrap;
  transition: width 0.2s ease;
}

.sidebar.expanded .sidebar-content ul li a span {
  display: inline;
  margin-left: 10px;
}

.sidebar-profile {
  margin-bottom: 20px;
}

.sidebar-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

main {
  position: relative;
  width: calc(100% - 50px);
  left: 50px;
  padding-right: 20px;
  transition: left 0.3s ease, width 0.3s ease;
}

.sidebar.expanded ~ main {
  width: calc(100% - 240px);
  left: 240px;
}

nav {
  position: fixed;
  width: calc(100% - 70px);
  left: 70px;
  top: 0;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: left 0.3s ease, width 0.3s ease;
}

.sidebar.expanded ~ nav {
  width: calc(100% - 250px);
  left: 250px;
}

.nav-logo {
  display: flex;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.nav-profile {
  border: none;
}

.nav-profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-profile img:hover {
  transform: scale(1.1);
}

.section-container {
  position: relative;
}

section {
  position: absolute;
  top: 60px;
  left: 20px;
  width: calc(100% - 20px);
  height: 92vh;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
  transition: left 0.3s ease, width 0.3s ease;
}

.sidebar.expanded ~ section {
  width: calc(100% - 10px);
  left: 10px;
}

#section1 {
  opacity: 1;
}

#section2 {
  opacity: 0;
  pointer-events: none;
}
